@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Press+Start+2P&display=swap');

$font-size: 16px;
$header-font-size: 36px;
$banner-font-size: 72px;
$header-font: 'Press Start 2P', cursive;
$font: 'Open Sans', sans-serif;
$button-text-colour: #fff;
$primary-text-colour: #000;
$secondary-text-colour: #B0235F;
$button-colour: #E5347F;
$button-shadow-colour: #B0235F;
$card-shadow: 0px 4px 23px rgba(250, 128, 114, 0.55);
$shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
$text-muted-colour: #7D7D7D;
$border-radius: 5px;
$border-radius-button: 2px;