@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Press+Start+2P&display=swap');

$font-size: 16px;
$header-font-size: 36px;
$banner-font-size: 72px;
$header-font: 'Press Start 2P', cursive;
$font: 'Open Sans', sans-serif;
$button-text-colour: #fff;
$primary-text-colour: #000;
$secondary-text-colour: #B0235F;
$button-colour: #E5347F;
$button-shadow-colour: #B0235F;
$button-shadow: 0 11px #B0235F;
$card-shadow: 0px 4px 23px rgba(250, 128, 114, 0.55);
$input-focus-shadow: 0px 4px 23px rgba(250, 128, 114, 0.55);
$shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
$text-muted-colour: #7D7D7D;
$border-radius: 2px;
$border-radius-button: 2px;
$background-image: url('./assets/images/pink-stacks.svg') no-repeat;

body{
    margin: 0;
}

.d-flex{
    display: flex;
}

.d-col{
    flex-direction: column;
}

.center{
    justify-content: center;
}

.font-primary{
    font-family: $header-font;
}

.font-secondary{
    font-family: $font;
}

.banner-header{
    font-family: $header-font;
    font-size: $banner-font-size;
}

.header{
    font-family: $header-font;
    font-size: $header-font-size;
    color: $primary-text-colour;
}

.highlight{
    color: $secondary-text-colour;
}

.btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: $font-size;
    padding: 12px 16px;
    border-radius: $border-radius;
}

.btn-primary{
    background-color: $button-colour;
    color: $button-text-colour;
    box-shadow: $button-shadow;
}

.btn-primary:active{
    animation: btn_primary_click 100ms linear;
}

.btn-secondary{
    background-color: #fff;
}

.btn-secondary:active{
    animation: btn_secondary_click 100ms linear;
}

.p{
    font-family: $font;
    font-size: $font-size;
    color: $primary-text-colour;
}

.text-center{
    text-align: center;
}

.text-input{
    box-shadow: $shadow;
    border-radius: $border-radius;
    border: none;
    font-size: $font-size;
}

.text-input:focus{
    outline: none;
    animation: text_input_focus 150ms linear forwards;
}

.input-field{
    width: 340px;
    height: 45px;
    padding: 5px;
    padding-left: 10px;
}

.hero-banner{
    padding-top: 100px;
    width: 100vw;
    height: 50vh;
}

.background-image{
    background: $background-image;
}

.text-area{
    width: 500px;
    height: 250px;
    resize: none;
    padding: 15px;
}

@keyframes btn_primary_click {
    0%{
        transform: translate(0, 0);
        box-shadow: $button-shadow;
    }

    50%{
        transform: translate(0, 10px);
        box-shadow: 0 1px #B0235F;
    }

    100%{
        transform: translate(0, 0);
        box-shadow: $button-shadow;
    }
}

@keyframes btn_secondary_click {
    to{
        transform: scale(0.85);
    }
}

@keyframes text_input_focus {
    from{
        box-shadow: $shadow;
    }

    to{
        box-shadow: $input-focus-shadow;
    }
}